{% extends 'base.html' %}
{% block content %}
  <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-tittle">{{task.name}}<br></h5>
                    <p><b>{{task.priority}}<br></b></p>
                     <p><b>{{task.date}}<br></b></p>
                    <a class="btn btn-danger" href="{% url 'delete' task.id %}">done</a>
                    <a class="btn btn-success" href="{% url 'edit' task.id %}">edit</a>
                </div>

            </div>
{% endblock %}